# =========================================================================
# SYSTEM SECURITY PROTOCOL - ENVIRONMENT VARIABLES TEMPLATE (.env.example)
# KELOMPOK CLOUD COMPUTING - UNIKAMA
#
# PETUNJUK: 
# 1. Salin (copy) file ini dan ubah namanya menjadi '.env'
# 2. Isi nilai variabel di bawah ini dengan password kelompok kalian
# =========================================================================

# --- DATABASE CONFIGURATION ---
WP_DB_NAME=wp_database
WP_DB_USER=wp_user
WP_DB_PASSWORD=masukkan_password_user_db_kalian_disini
MYSQL_ROOT_PASSWORD=masukkan_password_root_db_kalian_disini

# --- OBJECT STORAGE CONFIGURATION (MINIO) ---
MINIO_ROOT_USER=masukkan_username_admin_minio_disini
MINIO_ROOT_PASSWORD=masukkan_password_admin_minio_disini
